.DS_Store

.vs

Assembly-CSharp.csproj

Assembly-CSharp-Editor.csproj

CSCI526_Mobile_Game.sln

ScriptsAssembly.csproj

CSCI526_Mobile_Game.sln

Tests.csproj

ProjectSettings/ProjectVersion.txt

Library/

Logs/

obj/

Packages/

Temp/